{% extends 'base.html'%}
{% block content%}
		
	<form  method='post'>
			<div class="container">
				<div class="news-cont">
					<div class="row text-left form-inline">
					 	<div class="row text-left ">
					  <div class="col-md-2" ><b>公司名称：</b></div>
						    <div class="controls" >
							<input type="text" class="form-control" name='name' value=''>
						    </div>
					</div><br/>
					  
					<div class="row text-left form-inline">
					 	<div class="row text-left ">
					  <div class="col-md-2" ><b>公司介绍：</b></div>
						    <div class="controls" >
							<textarea class="area-h" name='intr'></textarea>
						    </div>
					</div><br/>

				 	<div class="row text-left form-inline">
					 	<div class="row text-left ">
					  <div class="col-md-2" ><b>公司性质：</b></div>
						    <div class="controls" >
							<input type="text" class="form-control" name='proper' value=''>
						    </div>
					</div><br/>
					<div class="row text-left ">
					  <div class="col-md-2" ><b>公司行业：</b></div>
						    <div class="controls" >
							<input type="text" class="form-control" name='indu' value=''>
						    </div>
					</div><br/>
					<div class="row text-left ">
					  <div class="col-md-2" ><b>公司规模：</b></div>
						    <div class="controls" >
							<input type="text" class="form-control" name='scale' value=''>
						    </div>
					</div><br/>
					<div class="row text-left ">
					  <div class="col-md-2" ><b>所在地区：</b></div>
						    <div class="controls" >
							<input type="text" class="form-control" name='area' value=''>
						    </div>
					</div><br/>
					<div class="row text-left ">
					  <div class="col-md-2" ><b>详细地址：</b></div>
						    <div class="controls" >
							<input type="text" class="form-control" name='address' value=''>
						    </div>
					</div><br/>
					<div class="row text-left ">
					  <div class="col-md-2" ><b>网站：</b></div>
						    <div class="controls" >
							<input type="text" class="form-control" name='website' value=''>
						    </div>
					</div><br/>
					<div class="row text-left ">
					  <div class="col-md-2" ><b>联系人：</b></div>
						    <div class="controls" >
							<input type="text" class="form-control" name='contant' value=''>
						    </div>
					</div><br/>
					<div class="row text-left ">
					  <div class="col-md-2" ><b>联系电话：</b></div>
						    <div class="controls" >
							<input type="text" class="form-control" name='phone' value=''>
						    </div>
					</div><br/>

					<div class="row text-left ">
					  <div class="col-md-2" ><b>电子邮箱：</b></div>
						    <div class="controls" >
							<input type="email" class="form-control" placeholder="邮箱地址" required autofocus name='email'>
						    </div>
					</div><br/>
	 				<div class="row text-rigth">
					  	<div class="col-md-2"></div>
					 	<div class="col-md-10">
					 		<button class="btn btn-warning btn-sm" ><i class="glyphicon glyphicon-ok"></i> <a class="btn  btn-sm"  style="color:#fff;">提交职位信息</a></button>
						</div>
					 </div>
				</div>
			</div>
           	</form>

			
               
               
		
{% end %}
