{% extends 'base.html'%}
{% block content%}
		
	<form  method='post'>
			<div class="container">
				<div class="news-cont">
				 	<div class="row text-left form-inline">
					 	<div class="form-group">
						    
						    <div class=" form-control-static" style='margin-left:13px;'><b> 职位搜索：</b></div>
						  </div>
						  <div class="form-group">
						   
						    <input type="text" class="form-control" id="inputPassword2" placeholder="职位名称／公司名／城市" name='search'>
						  </div>
						  <button type="submit" class="btn btn-default">搜索</button>
					</div><br/>
					<div class="row text-left ">
					  <div class="col-md-2" ><b>职位类别：</b></div>
						    <div class="controls" >
							
							<select name='listname' id='slcate'> 
							<option value=''>请选择职位类别</option>
							{% for  items in genres%}
							 
							  <option value=''>　{{ items['title']}}</option>
							 
							 {% end %}
							</select>
						    </div>
					</div><br/>
					<div class="row text-left ">
					  <div class="col-md-2" ><b>工作省市：</b></div>
						    <div class="controls" >
							<select name='province' id='slcate'>
							
							  <option value=''>-请选择省份／直辖市-</option>
							{% for items in provinces %}
							 <option value=''>{{items['title']}}</option>
							{% end %}
							</select>
							
						    </div>
					</div><br/>
					<div class="row text-left ">
					  <div class="col-md-2" ><b>薪酬范围：</b></div>
						    <div class="controls" >
							<select name='wage' id='slcate'>
							
							  <option value=''>请选择职位月薪</option>
							{% for items in wages %}
							 <option value=''>{{items['start']}}~{{items['end']}}元 </option>
							{% end %}
							</select>
						    </div>
					</div><br/>
				</div>
			</div>
           	</form>
		<div　class='bs-example' >
			<table class="table" style='width:30%;max-width:50%;margin-top:80px;margin-left:350px;'>
			<caption>共查询到个职位</caption>
			<thead>
			<tr>
			    <td colspan="4">&nbsp;</td>
			  </tr>
			</thead>
			<tbody>
			<tr>
			  <td colspan="4">&nbsp;</td>
			</tr>
			<tr>
			  <td colspan="4">&nbsp;</td>
			</tr>
			  <tr>
			    <td colspan="3">&nbsp;</td>
			    <td>&nbsp;</td>
			  </tr>
			  <tr>
			    <td>&nbsp;</td>
			    <td>&nbsp;</td>
			    <td>&nbsp;</td>
			    <td>&nbsp;</td>
			  </tr>
			  </tbody>
			</table>
		</div>
{% end %}
