{% extends 'base.html'%}
{% block content%}
           <form  method='post'>
		<div class="container">
                      
			<div class="news-cont">
                              <div class="row text-left ">
			          <div class="col-md-2" ><b>职位类别：</b></div>
					    <div class="controls" >
						<select name='genre' id='slcate'>
						  <option value=''>请选择职位类别　</option>
						 
						  
						  <option value=''></option>
						
						</select>
					    </div>
					  </div>
						 <br/>
				 <div class="row text-left">
				 	<div class="col-md-2"><b>职位名称：</b></div>
				 	<div class="col-md-10"><input type="text" class="form-control" name='name' value=''></div>
				 </div><br/>
				<div class="row text-left ">
			          <div class="col-md-2" ><b>所在地区：</b></div>
					    <div class="controls" >
						<select name='province' id='slcate'>
						<option value=''>北京</option>
						 
						  <option value=''></option>
						 
						</select>
							
						
					    </div>
					  </div><br/>
				  <div class="row text-left">
				  	<div class="col-md-2"><b>职位要求：</b></div>
				 	<div class="col-md-10 text-left"><textarea class="area-h" name='ask'></textarea></div>
				 </div><br/>
 				<div class="row text-left">
				 	<div class="col-md-2"><b>详细地址：</b></div>
				 	<div class="col-md-10"><input type="text" class="form-control" name='address' value=''></div>
				 </div><br/>
 				<div class="row text-left">
				 	<div class="col-md-2"><b>工作性质：</b></div>
				 	<div class="col-md-10"><label class="radio-inline">
								  <input type="radio" name="job" id="inlineRadio1" value="option1"> 全职
								</label>
								<label class="radio-inline">
								  <input type="radio" name="job" id="inlineRadio2" value="option2"> 兼职
								</label>
								<label class="radio-inline">
								  <input type="radio" name="job" id="inlineRadio3" value="option3"> 全职／兼职
								</label>
								<label class="radio-inline">
								  <input type="radio" name="job" id="inlineRadio3" value="option3"> 实习
								</label>
					</div>
				 </div><br/>
				<div class="row text-left">
				 	<div class="col-md-2"><b>学历要求：</b></div>
				 	<div class="col-md-10"><label class="radio-inline">
								  <input type="radio" name="educa" id="inlineRadio1" value="option1"> 无学历要求
								</label>
								<label class="radio-inline">
								  <input type="radio" name="educa" id="inlineRadio2" value="option2"> 专科
								</label>
								<label class="radio-inline">
								  <input type="radio" name="educa" id="inlineRadio3" value="option3"> 本科
								</label>
								<label class="radio-inline">
								  <input type="radio" name="educa" id="inlineRadio3" value="option4"> 硕士
								</label>
								<label class="radio-inline">
								  <input type="radio" name="educa" id="inlineRadio3" value="option5"> 博士
								</label>
					</div>
				 </div><br/>
				 <div class="row text-left ">
			          <div class="col-md-2" ><b>工作经验：</b></div>
					    <div class="controls" >
						<select name='experience' id='slcate'>
						  <option value=''>无工作经验要求　</option>
						  
						  <option value=''></option>
						 
						</select>
					    </div>
					  </div>
						 <br/>
				<div class="row text-left">
				 	<div class="col-md-2"><b>招聘人数：</b></div>
				 	<div class="col-md-10" style='width:240px; heg'><input type="text" class="form-control" name='number' value=''></div>
				 </div><br/>
				 <div class="row text-left ">
			          <div class="col-md-2" ><b>职位月薪：</b></div>
					    <div class="controls" >
						<select name='wage' id='slcate'>
						　<option value=''>请选择职位月薪　</option>
						
						  <option value=''></option>
						
						</select>
					    </div>
				</div>
						 <br/>
 				<div class="row text-center">
				  	<div class="col-md-2"><b>其他说明：</b></div>
				 	<div class="col-md-10 text-left"><textarea class="area-h" name='desc'></textarea></div>
				 </div><br/>
				<div class="row text-left">
				 	<div class="col-md-2"><b>截止日期：</b></div>
				 	<div class="col-md-10" style='width:350px;'><input type="text" class="form-control" name='date'　style="width:20px;" value=''></div>
				 </div><br/>
				
				 <div class="row text-rigth">
				  	<div class="col-md-2"></div>
				 	<div class="col-md-10">
				 		<button class="btn btn-warning btn-sm" ><i class="glyphicon glyphicon-ok"></i> 提交职位信息</button>
					</div>
				 </div>
				</div>
			 </div>
		</div>
           </form>
		<!-- /container -->		
{% end %}
