{% extends 'base.html'%}
{% block content%}
		<div class="container news-text">
			<h2 class="sub-header">分类列表</h2>
			<div class="table-responsive">
			
				<table class="table table-bordered table-hover">
					
					<tbody>
                                          
						
						<tr class="text-center">
                                                        <td class="text-center" style="font-size:18px; font-weight: bold;">职位类别</td>

							
							<td class="text-left">{{ genre.get('title') }}</td>
							<td class="text-center">
								<div class="btn-group">
                                                                         
								<a class="btn btn-info btn-sm btn-info-edit" title="修改" href="/admin/alter?"> <i class="glyphicon glyphicon-edit"></i>
										<span class="sr-only">修改</span>
									</a>
									
								<a class="btn btn-danger  btn-sm" title="删除" href="/admin/del? "> <i class="glyphicon glyphicon-trash"></i>
										<span class="sr-only">删除</span>
									</a>	
								</div>
							</td> 
                                                 
						</tr>
						<tr class="text-center">
                                                        
				s			<td class="text-center" style="font-size:18px; font-weight: bold;">工作省市</td>
							<td class="text-left"></td>
							<td class="text-center">
								<div class="btn-group">
                                                                         
								<a class="btn btn-info btn-sm btn-info-edit" title="修改" href="/admin/alter?"> <i class="glyphicon glyphicon-edit"></i>
										<span class="sr-only">修改</span>
									</a>
								<a class="btn btn-danger  btn-sm" title="删除" href="/admin/del? "> <i class="glyphicon glyphicon-trash"></i>
										<span class="sr-only">删除</span>
									</a>	
									
								</div>
							</td> 
                                                   
						</tr>
						<tr class="text-center">
                                                        <td class="text-center" style="font-size:18px; font-weight: bold;">薪酬范围</td>
							
							<td class="text-left"></td>
							<td class="text-center">
								<div class="btn-group">
                                                                         
								<a class="btn btn-info btn-sm btn-info-edit" title="修改" href="/admin/alter?_id="> <i class="glyphicon glyphicon-edit"></i>
										<span class="sr-only">修改</span>
									</a>
									
								<a class="btn btn-danger  btn-sm" title="删除" href="/admin/del? "> <i class="glyphicon glyphicon-trash"></i>
										<span class="sr-only">删除</span>
									</a>	
								</div>
							</td> 
                                                   
						</tr>
						<tr class="text-center">
                                                        
							<td class="text-center" style="font-size:18px; font-weight: bold;">工作经验</td>
							<td class="text-left"></td>
							<td class="text-center">
								<div class="btn-group">
                                                                         
								<a class="btn btn-info btn-sm btn-info-edit" title="修改" href="/admin/alter"> <i class="glyphicon glyphicon-edit"></i>
										<span class="sr-only">修改</span>
									</a>
									
									<a class="btn btn-danger  btn-sm" title="删除" href="/admin/del? "> <i class="glyphicon glyphicon-trash"></i>
										<span class="sr-only">删除</span>
									</a>
								</div>
							</td> 
                                                   
						</tr>
						
					
					</tbody>
				</table>
			</div>
		</div>
		<!-- /container -->		
{% end %}
