{% extends 'base.html'%}
{% block content%}
  <form  method='post'>
		<div class="container">
                      <div class="news-cont">
			 <div class="row text-right">
				 	<div class="col-md-2"><b>薪酬范围</b></div>
                          
				 	<div class="col-md-10"><input type="text" class="" name='start' value=''>~<input type="text" class="" name='end' value=''>年</div>
				 </div><br/>
			 <div class="row">
				  	<div class="col-md-2"></div>
				 	<div class="col-md-10">
				 		<button class="btn btn-warning btn-sm" ><i class="glyphicon glyphicon-ok"></i> 确定</button>
					</div>
				 </div>
			 </div>
                      
		</div>
           </form>
{% end %}
