{% extends 'base.html'%}
{% block content%}
<div class="container news-text">
			<h2 class="sub-header">分类</h2>
			<div class="table-responsive">
			<a class="btn btn-info btn-sm" href="/admin/experience_edit" >添加</a>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							
							<th class="text-center">工作经验</th>
                                                       
							<th class="text-center">编辑</th>
						</tr>
					</thead>
					<tbody>
                                          
					{% for items in experiences %}
						<tr class="text-center">
                                                        
							
							
                                                        <td class="text-left">{{items.get('start')}}~{{items.get('end')}}年</td>
							<td class="text-center">
								<div class="btn-group">
                                                                         
								<a class="btn btn-info btn-sm btn-info-edit" title="修改" href="/admin/experience/alter?_id={{items['_id']}}"> <i class="glyphicon glyphicon-edit"></i>
										<span class="sr-only">修改</span>
									</a>
									<a class="btn btn-danger  btn-sm" title="删除" href="/admin/experience/remove?_id={{items['_id'] }}"> <i class="glyphicon glyphicon-trash"></i>
										<span class="sr-only">删除</span>
									</a>
									
								</div>
							</td> 
                                                   
						</tr>
					{% end %}
					<tr class="active text-center">
							<td colspan="3">
								<div class="btn-group">
									{% if not page==0 %}
									<a class="btn-info btn-sm" href="?page = {{page-1}}">上一页</a>
									{% end %}
                                                                        {% for n in range(npage)%}
									
									<a {% if n==page %}class="btn-default btn-sm" {% end %}href="?page = {{n}}">{{n+1}}</a>
									{% end %}
                                                                        {% if page<npage-1%}

									<a class="btn-default btn-sm" href="?page={{page+1}}">下一页</a>
                                                                       {% end %}
									
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
{% end %}
