{% extends 'base.html'%}
{% block content%}
           <form  method='post'>
		<div class="container">
                      
			<div class="news-cont">
                              <div class="row text-left ">
			          <div class="col-md-2" ><b>职位类别：</b></div>
					    <div class="controls" >
						<select name='categorys' id='slcate'>
						  <option value=''>请选择职位类别　</option>
							{% for  item in genres%}
							 
							  <option value='{{ item['genre']}}'>　{{ item['genre']}}</option>
							 
							 {% end %}
						</select>
					    </div>
					  </div>
						 <br/>
				<div class="row text-left form-inline">
					 	<div class="row text-left ">
					  <div class="col-md-2" ><b>公司名称：</b></div>
						    <div class="controls" >
							<input type="text" class="form-control" name='name' value=''>
						    </div>
					</div><br/>
				 <div class="row text-left">
				 	<div class="col-md-2"><b>职位名称：</b></div>
				 	<div class="col-md-10"><input type="text" class="form-control" name='title' value=''></div>
				 </div><br/>
				<div class="row text-left ">
			          <div class="col-md-2" ><b>所在地区：</b></div>
					    <div class="controls" >
						<select name='province' id='slcate'>
						<option value=''>北京</option>
						{% for item in provinces %}
						<option value='{{ item['province']}}'>{{item['province']}}</option>
						{% end %}
						</select>
							
						
					    </div>
					  </div><br/>
				  <div class="row text-left">
				  	<div class="col-md-2"><b>职位要求：</b></div>
				 	<div class="col-md-10 text-left"><textarea class="area-h" name='ask'></textarea></div>
				 </div><br/>
 				<div class="row text-left">
				 	<div class="col-md-2"><b>详细地址：</b></div>
				 	<div class="col-md-10"><input type="text" class="form-control" name='address' value=''></div>
				 </div><br/>
 				<div class="row text-left">
				 	<div class="col-md-2"><b>工作性质：</b></div>
				 	<div class="col-md-10">
								  <input type="text" name="job" id="inlineRadio1" value=""> 
								
					</div>
				 </div><br/>
				<div class="row text-left">
				 	<div class="col-md-2"><b>学历要求：</b></div>
				 	<div class="col-md-10">
								  <input type="text" name="education" id="inlineRadio1" value=""> 
								
					</div>
				 </div><br/>
				 <div class="row text-left ">
			          <div class="col-md-2" ><b>工作经验：</b></div>
					    <div class="controls" >
						<select name='experience' id='slcate'>
						  <option value=''>无工作经验要求　</option>
						 {% for item in experience %}
						  <option value='{{item['_id']}}'>{{item['start']}}~{{item['end']}}年</option>
						{% end %}
						</select>
					    </div>
					  </div>
						 <br/>
				<div class="row text-left">
				 	<div class="col-md-2"><b>招聘人数：</b></div>
				 	<div class="col-md-10" style='width:240px; heg'><input type="text" class="form-control" name='number' value=''></div>
				 </div><br/>
				 <div class="row text-left ">
			          <div class="col-md-2" ><b>职位月薪：</b></div>
					    <div class="controls" >
						<select name='wage' id='slcate'>
						　<option value=''>请选择职位月薪　</option>
						 
						{% for item in wages %}
						<option value='{{item['_id']}}'>{{item['start']}}~{{item['end']}}元 </option>
						{% end %}
						
						</select>
					    </div>
				</div>
						 <br/>
 				<div class="row text-center">
				  	<div class="col-md-2"><b>其他说明：</b></div>
				 	<div class="col-md-10 text-left"><textarea class="area-h" name='desc'></textarea></div>
				 </div><br/>
				<div class="row text-left">
				 	<div class="col-md-2"><b>截止日期：</b></div>
				 	<div class="col-md-10" style='width:350px;'><input type="text" class="form-control" name='date'　style="width:20px;" value=''></div>
				 </div><br/>
			
				 <div class="row text-rigth">
				  	<div class="col-md-2"></div>
				 	<div class="col-md-10">
				 		<button class="btn btn-warning btn-sm" ><i class="glyphicon glyphicon-ok"></i> 提交职位信息</button>
					</div>
				 </div>
				</div>
			 </div>
		</div>
           </form>
		<!-- /container -->
<script type="text/javascript">
$(function(){
	var _id = '{{ item.get("_id")}}';
	$('#slcate').val(_id);
	var title = '{{ item.get("title")}}';
	$('#slcate').val(title);

})
</script>			
{% end %}
