{% extends 'base.html'%}
{% block content%}
<div class="container news-text">
			<h2 class="sub-header">分类</h2>
			<div class="table-responsive">
			<a class="btn btn-info btn-sm" href="/admin/province_edit" >添加</a>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							
							<th class="text-center">地区</th>
                                                       
							<th class="text-center">编辑</th>
						</tr>
					</thead>
					<tbody>
                                          
		
						<tr class="text-center">
                                                        
							
							
                                                        <td class="text-left"></td>
							<td class="text-center">
								<div class="btn-group">
                                                                         
								<a class="btn btn-info btn-sm btn-info-edit" title="修改" href="/listname/alter"> <i class="glyphicon glyphicon-edit"></i>
										<span class="sr-only">修改</span>
									</a>
									<a class="btn btn-danger  btn-sm" title="删除" href="/listname/del"> <i class="glyphicon glyphicon-trash"></i>
										<span class="sr-only">删除</span>
									</a>
									
								</div>
							</td> 
                                                   
						</tr>
				
					</tbody>
				</table>
			</div>
		</div>
{% end %}
